* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;

    background-color: black;

    /* height: 700vh; */

    /* border: 5px dashed white; */
}

/* HEADER */

header {
    height: 50px;

    z-index: 1;
}

#flex {
    display: flex;
    justify-content: flex-end;
}

#flex .table-maximize {
    padding: 2px 3px;

    margin-right: 5px;
    margin-top: 5px;
    
    color: white;
    background-color: lightslategray;
    border-radius: 4px;

    gap: 10px;
}

/* MAIN */

main {
    /* border: 10px red solid; */
    /* background-color: yellow; */

    margin-top: 30px;
    margin-bottom: 100px;
    height: 100vh;
}

#container {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    margin: 40 auto;
    padding: 5px;

    gap: 5px;

    padding-inline: 5%;
}

#container .row {
    position: relative;

    /* border: 5px solid black; */
}

.row {
    width: 100%;
}

.pokemon {
    position: absolute;
    bottom: 0;
    left: 10;
    color: white;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3px;

    border: none;
}

/* FOOTER */

footer {
    background-color: #222222;
    color: white;
   
    border: 1px solid white;
} 

.flex-footer {
    display: flex;
}

.flex-left {
    display: flex;
}

.flex-left .micro-left,
.video-left {
    align-items: center;
    padding: 10px;
}

.flex-center {
    display: flex;
    justify-content: center;
    /* background-color: red; */
    align-items: center;
    /* width: 1000px; */
    margin: 0 auto;
}

.flex-center .invite,
.group,
.pool,
.screen,
.chat,
.record,
.rooms,
.more {
    padding: 15px;
    gap: 50px;
}

.flex-right {
    display: flex;
}

.flex-right .right {
   justify-content: end;
   padding: 10px;

   background-color: rgb(74, 74, 74);
   color: red;
}

.end {
    text-align: center;
    padding: 10px;
}