* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: lightseagreen;

    height: 100vh;

    border: 5px dashed white;
}

/* HEADER */

header {
    background-color: black;
    height: 50px;
}

#flex {
    display: flex;
    justify-content: flex-end;
}

#flex .table-maximize {
    padding: 2px 3px;

    margin-right: 5px;
    margin-top: 5px;
    
    color: white;
    background-color: lightslategray;
    border-radius: 4px;

    gap: 10px;
}

/* MAIN */

main .container {
    border: 10px red solid;

    height: 70vh;

}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    position: relative;

    margin: 0 auto;
    padding: 20px;
}

ul {
    list-style-type: none;
}

li {
    margin-right: 10px;
}

a {
    text-decoration: none;

}

span {
    color: white;
}